body{
  background-color: #eee;
  font-family: 'Roboto';
}
h2{
  font-family: 'Comfortaa'
}
/* BUTTONS */
.controls{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  flex-wrap: wrap;
}

.controls select{
  height: 30px;
}

.input{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1 0 30%;
  margin: 1em;
}
.input label{
  color: black;
  font-size: 1.5em;
}
#buttonText{
  font-size: 20px;
  width: 80%;
  margin: auto;
  text-align: center;
  transition: all ease 0.3s;
}

#buttonText:hover{
  border:2px green solid; 
}

#buttonText:focus{
  border:2px green solid; 
  padding: 0.3em;
  background-color:cornsilk;
  border-radius: 10px;
  outline: none;
}

.button-wrap{
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  width: 95%;
  justify-content: center;
}
.btn{
  padding: 4em;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1em;
  flex: 0 0 20%;
  background-color: mintcream;
  box-shadow: 2px 9px 5px 0px #ccc;
}
.btn a{
  text-decoration: none;
}
.button{
  background-color: cadetblue;
  color: white;
  padding: 1em;
  transition: all ease 0.3s;
  border-radius: 5px;

}

.button:hover{
  background-color:lightgreen;
}

.button2{
  padding: 2em 3em;
  background:linear-gradient(90deg,  purple, magenta, hotpink ,transparent, 50%, transparent 100%);
  border-radius: 5px;
  background-position: right top;
  background-size: 428% 100%;
  transition: all ease-out 0.7s;
  border: 1px black solid;
  text-decoration: none;
  color: black;

}

.button2:hover{
  background-position: left bottom;
  border-color: transparent;
  color: white;
}


.button3 {
	display: inline-block;
	margin: 1em;
	text-transform: uppercase;
	padding: 1em 1.5em;
	background: none;
	color:darkblue;  
	font-weight: bold;
	position: relative;
	transition:color 0.25s ease;
  border:3px solid black;
  text-decoration: none;
  color: black;
  z-index: 50;
  
  }
  
  .button3::after {
	position: absolute;
	content: '';
	top:0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #FFD100;
	transform-origin:left;
	transition:width 0.25s ease;
  z-index:-1;
  border-radius: inherit;
  }
  
  .button3:hover::after {
    width: 100%;
  }

  .button4{
    box-shadow: 2px 9px 5px 0px #ccc;
    cursor: pointer;
    transition: all ease 0.4s;
    background-color: cornflowerblue;
    color: white;
    padding: 1em;
    
  }

  .button4:hover{
    box-shadow: 2px 9px 5px 0px #666;
    transform: translateY(-3px);
    opacity: 0.8;
  }

  .button4:active{
    box-shadow: 2px 2px 5px 0px #666;
    transform: translateY(0px);
    opacity: 1;
    transition: all ease 0.1s;
  }

  .button5{
    padding: 2em 1em;
    transition: all ease 0.5s;
    color: black;
    background-color: darkslategray;
    color: azure;
  }
  .button5:hover{
    background-color: coral;
    /* color: white; */
  }

  .button5 i{
    transition: all ease 0.5s;
  }

  .button6{
    box-shadow: 2px 4px 0px 0px #ccc;
    cursor: pointer;
    transition: all ease 0.4s;
    background-color: lightskyblue;
    color: darkslategray;
    padding: 1em;
    border-radius: 10px;
  }
  .button6:hover{
    box-shadow: 2px 4px 0px 0px #666;
    background-color: palegreen;
    opacity: 0.8;
  }

  .button6:active{
    box-shadow: 2px 2px 0px 0px #666;
    transform: translateY(2px);
    opacity: 1;
    transition: all ease 0.1s;
  }

  @media only screen and (max-width: 600px) {
    
    .input{
      flex: 1 0 90%;
    }
    
    .button-wrap{
      width: 100%;
    }
    .btn{
      flex: 1;
    }
  }